.img-i {
    width: 75%;
    height: 90%;
    transition: transform 1s ease;
}

.img-i:hover {
    transform: scale(1.2, 1.2);
    ;
    transition: transform 1s ease;
}

.information-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5vh;
    margin: 2vh;
    margin-top: 8vh;
    padding: 2vh;
}

.Tittle-mid {
    text-align: left;
    font-size: 3vh;
    padding-left: 2vh;
    margin-top: 2vh;
}

.information-p {
    font-size: 15px;
    text-align: left;
    padding-left: 2vh;
}