
.App-body {
    margin-top: 20vh;
    display: block;
    justify-content: center;
}

.Title-bod {
    font-size: 20vh;
    text-shadow: 1px 2px 5px gray;
}

.Cont-img {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 8vh;
}

.img-e {
    width: 38%;
    height: 50%;
    margin-bottom: 20vh;
    margin-top: -10vh;
    transform: rotate(22deg);
    box-shadow: 5px 3px 10px rgb(201, 29, 201);
}