.App-foo {
    padding: 3vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh;
    height: 100%;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.foo-item {
    text-align: center;
    margin: 3vh;
    font-size: 3vh;
    color: whitesmoke;
}

@media (min-width: 250px){
    .App-foo{
        padding: 0vh;
        max-width: 399px;
        min-width: 250px;
        width: 100%;
    }

    .foo-item{
        font-size: 2vh;
    }
}

@media (min-width: 400px) {
    .App-foo{
        padding: 1vh;
        max-width: 599px;
        min-width: 400px;
        width: 100%;
    }
    .foo-item{
        font-size: 3vh;
    }
}

@media (min-width: 600px) {
    .App-foo{
        padding: 1vh;
        width: 100%;
        max-width: 799px;
        min-width: 600px;
    }

    .foo-item{
        font-size: 3vh;
    }
}

@media (min-width: 800px) {
    .App-foo{
        padding: 0px;
        max-width: 1199px;
        min-width: 800px;
        width: 100%;
    }
    
    .foo-item{
        font-size: 3.5vh;
    }
}

@media (min-width: 1200px) {
    .App-foo{
        padding: 0px;
        max-width: 2000px;
        min-width: 1200px;
        width: 100%;
    }

    .foo-item{
        font-size: 4vh;
    }
}