.App-foo {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .8rem;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.foo-item {
    text-align: center;
    margin: 2em;
    font-size: clamp(.8rem, 2vw, 1.3rem);
    color: whitesmoke;
}

