.sections-p {
    margin: 5vh;
    margin-bottom: 15vh;
    margin-top: 10vh;
    padding: 4vh;
    width: 100%;
}

.Grid-p {
    
    padding: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 20vh;
    
}

.Grid-inf{
    padding: 2vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4vh;
    vertical-align: middle;
    border: 2px solid black;
    
}

.InfoName {
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
    margin-left: 3vh;
    margin-right: 5vh;
}

.infoProduct {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
    
}

.infoNameP {
    color: rgb(56, 54, 54);
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
    margin-right: 10vh;
}

.img-p {
    width: 90%;
    height: 90%;

}

.img-pinfo{
    width: 50%;
    height: 50%;
    transition: transform 1s ease;
}

.img-pinfo:hover {
    transform: scale(1.5, 1.5);
    ;
    transition: transform 1s ease;
}

.Button-c {
    vertical-align: middle;
    margin-top: 10vh;
    width: 20vh;
    height: 5vh;
    background-color: rgb(207, 204, 204);
    border-radius: 8px;
    border-width: 0.5px;
}

.Button-c:hover {
    background-color: rgb(80, 83, 87);
    cursor: pointer;
}

.img-iP {
    width: 75%;
    height: 90%;
    transition: transform 1s ease;
}

.img-iP:hover {
    transform: scale(1.2, 1.2);
    transition: transform 1s ease;
}

@media (min-width: 250px){
    .sections-p{
        margin: 0vh;
        padding: 0vh;
        padding-top: 10vh;
    }

    .img-p{
        width: 60%;
        height: 60%;
        padding-bottom: 5vh;        
    }

    .Grid-p{
        padding: 0vh;
        row-gap: 10vh;
        gap: 0.5vh;
        max-width: 389px;
        min-width: 250px;
    }

    .infoProduct{
        margin-top: -2vh;
        margin-bottom: 7vh;
        max-width: 70px;
        min-width: 50px;
    }

    .InfoName{
        font-size: 1.2vh;
        margin-right: 0vh;
    }
}

@media (min-width: 400px){
    .sections-p{
        margin: 0vh;
        padding: 0vh;
        padding-top: 10vh;
    }
    .img-iP{
        width: 100%;
        height: 100%;
        padding-bottom: 10vh;        
    }

    .Grid-p{
        padding: 0vh;
        row-gap: 10vh;
        gap: 1vh;
        max-width: 599px;
        min-width: 400px;
    }

    .infoProduct{
        margin-top: -2vh;
        margin-bottom: 7vh;
        max-width: 110px;
        min-width: 60px;
    }

    .InfoName{
        
        font-size: 1.7vh;
        margin-right: 2vh;
    }
}

@media (min-width: 600px){
    .sections-p{
        margin: 0vh;
        padding: 0vh;
        padding-top: 10vh;
    }
    
    .img-iP{
        width: 100%;
        height: 100%;
        padding-bottom: 10vh;        
    }

    .Grid-p{
        padding: 1vh;
        row-gap: 10vh;
        gap: 1vh;
        max-width: 799px;
        min-width: 600px;
    }

    .infoProduct{
        margin-top: -2vh;
        margin-bottom: 7vh;
        max-width: 200px;
        min-width: 60px;
    }

    .InfoName{
        
        font-size: 2.05vh;
        margin-right: 2vh;
    }
    
}

@media (min-width: 800px){
    .sections-p{
        margin: 0vh;
        padding: 0vh;
        padding-top: 10vh;
    }

    .img-iP{
        width: 100%;
        height: 100%;
        padding: 0vh;
    }

    .Grid-p{
        padding: 1vh;
        row-gap: 10vh;
        gap: 1vh;
        max-width: 1199px;
        min-width: 800px;
    }

    .infoProduct{
        margin-top: -2vh;
        margin-bottom: 7vh;
        max-width: 400px;
        min-width: 100px;
    }

    .InfoName{
        font-size: 3vh;
        margin-right: 2vh;
    }
}

@media (min-width: 1200px){
    .img-iP{
        width: 100%;
        height: 100%;
    }

    
}
