.section-s{
    box-sizing: border-box;
    padding:1rem;
}

.information-conS {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: .5rem;
    margin-top: 1rem;
}

.img-iP {
    width: clamp(70%, 80%, 100%);
    height: clamp(60%,65%, 70%);
    transition: transform 1s ease;
}

.img-iP:hover {
    transform: scale(1.2, 1.2);
    transition: transform 1s ease;
}