.section-s{
    box-sizing: border-box;
    padding:1rem;
}

.information-conS {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.img-pd{
    width: 100%;
    height: 100%;
}

.img-iP {
    width: 70%;
    height: 80%;
    transition: transform 1s ease;
}

.img-iP:hover {
    transform: scale(1.2, 1.2);
    transition: transform 1s ease;
}

